@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Quicksand', sans-serif;

}

body{

    background-color: #121617;
    overflow: hidden;

}
nav{

display: flex;
gap: 80px;
margin:35px 29px 0px 70px;
list-style: none;




}
nav button{

    background: none;
    color: white;
    border: none;
    font-size: 20px;



}
 
nav button:nth-child(2){

margin-left: 400px;

}

.introduction{

display: flex;
gap: 60px;
margin:60px 60px 60px 100px;

}
.introduction > div{

display: flex;
flex-direction: column;
width: 800px;
gap: 3px;
justify-content:center;
height: 390px;
width: 600px;
}
h1{

font-size: 70px;

}

.introduction button{
background-color: #F4511F;
color: white;
padding:2px;
border-radius: 20px;
width: 120px;
height: 45px;
font-size: 14px;
border: none;
margin-top:10px;



}
.introduction > div:first-child{

background: url(./images/homeSalad.png);
width: 450px;



}
.Heading{

text-align: left;

}
.Order:hover{

background-color: #6df41f;
color:black;



}